{% extends 'layout/app.html.twig' %}

{% block title %} category manager {% endblock %}

{% block body %}
<div class="container">
   <div class="row pt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-primary">

        <div class="card-header card-header-primary">
          <h1 class="card-title">Edit category</h1>
        </div>
        
       <div class="card-body"> 
        {{ form_start(category_form) }}
            <div class="row">

            <div class="col-md-6">
            <div class="form-group">
                {{ form_row(category_form.name) }}
            </div>
            </div>

            <div class="col-md-6">
            <div class="form-group">
                {{ form_row(category_form.image) }}
            </div>
            </div> 
            
            <div class="col-md-12">
            <div class="form-group">
                {{ form_row(category_form.description) }}
            </div>
            </div>

            <div class="col-md-12">
             <div class="form-group">
             {{ form_row(category_form.Reset) }}
             {{ form_row(category_form.Save) }}
             </div>
            </div>

            </div>
        {{ form_end(category_form) }}
     </div>
    </div>
    </div>



</div>
{% endblock %}