{% extends 'layout/app.html.twig' %}

{% block title %}Gallery
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row pt-5">
			<div class="col-md-6 m-auto">
				<div class="card card-primary">


					<h1>Gallery</h1>

					<table class="table">
						<tbody>
							<tr>
								<th>Id</th>
								<td>{{ gallery.id }}</td>
								<td><img width="150px" src="/images/{{ gallery.images }}" ></td>
							</tr>
						</tbody>
					</table>

					<a href="{{ path('app_gallery_index') }}">back to list</a>

					<a href="{{ path('app_gallery_edit', {'id': gallery.id}) }}">edit</a>

					{{ include('gallery/_delete_form.html.twig') }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
