{% extends 'layout/app.html.twig' %} 

{% block title %}Stock{% endblock %}

{% block body %} 

<div class="container" style="padding-top:5%;">
    <div class="row justify-content-center">
        <div class="col-md-10">
        <div>
          {% for msg in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
            {{ msg }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        </div>
            <div class="card">
                <div class="card-header">Stock <a href="{{ path('create_stock') }}" class="btn btn-primary" style="float: right;"><i class="fa fa-plus"></i></a></div>
                <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Price</th>
                      <th scope="col">Quantity</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for stock in stocks %}
                    <tr>
                      <th scope="row">{{ stock.id }}</th>
                      <td>{{ stock.name }}</td>
                      <td>{{ stock.price }}</td>
                      <td>{{ stock.quantity }}kg</td>
                      <td>
                      <a href="{{ path('edit_stock' , {'id':stock.id}) }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                      <a href="{{ path('delete_stock',{'stockId':stock.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                    </tr>
                    {% else %}

                     <tr class="tr-no-result-found-in-list">
                        <td class="td-no-result-found-in-list">No result found</td>
                     </tr> 

                    {% endfor %}
                  </tbody>
                </table>
                <div class="d-flex justify-content-center">  
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
 

{% endblock %}
